@font-face {
  font-family: "Philippa";
  src: url("/data/fonts/Philippa-Bold.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Philippa";
  src: url("/data/fonts/Philippa-ExtraBold.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Philippa";
  src: url("/data/fonts/Philippa-ExtraLight.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Philippa";
  src: url("/data/fonts/Philippa-Light.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Philippa";
  src: url("/data/fonts/Philippa-Medium.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Philippa";
  src: url("/data/fonts/Philippa-Regular.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Philippa";
  src: url("/data/fonts/Philippa-SemiBold.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-Black.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BlackCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 800;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BlackCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 800;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BlackExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 800;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BlackExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 800;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BlackItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BlackSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 800;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BlackSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 800;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-Bold.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BoldCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 700;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BoldCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 700;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BoldExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 700;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BoldExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 700;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BoldItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BoldSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 700;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-BoldSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 700;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraBold.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraBoldCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 900;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraBoldCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 900;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraBoldExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 900;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraBoldExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 900;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraBoldItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraBoldSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 900;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraBoldSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 900;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraLight.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraLightCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 200;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraLightCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 200;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraLightExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 200;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraLightExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 200;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraLightItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraLightSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 200;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ExtraLightSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 200;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-Light.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-LightCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 300;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-LightCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 300;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-LightExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 300;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-LightExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 300;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-LightItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-LightSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 300;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-LightSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 300;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-Medium.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-MediumCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 500;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-MediumCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 500;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-MediumExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 500;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-MediumExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 500;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-MediumItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-MediumSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 500;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-MediumSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 500;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-Regular.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-RegularCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 400;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-RegularCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 400;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-RegularExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 400;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-RegularExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 400;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-RegularItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-RegularSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 400;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-RegularSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 400;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-SemiBold.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-SemiBoldCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-SemiBoldCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-SemiBoldExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-SemiBoldExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-SemiBoldItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-SemiBoldSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-SemiBoldSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 600;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-Thin.woff");
  font-style: normal;
  font-stretch: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ThinCondensed.woff");
  font-style: normal;
  font-stretch: condensed;
  font-weight: 100;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ThinCondensedItalic.woff");
  font-style: italic;
  font-stretch: condensed;
  font-weight: 100;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ThinExpanded.woff");
  font-style: normal;
  font-stretch: expanded;
  font-weight: 100;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ThinExpandedItalic.woff");
  font-style: italic;
  font-stretch: expanded;
  font-weight: 100;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ThinItalic.woff");
  font-style: italic;
  font-stretch: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ThinSemiCondensed.woff");
  font-style: normal;
  font-stretch: semi-condensed;
  font-weight: 100;
}
@font-face {
  font-family: "Antipode";
  src: url("/data/fonts/Antipode-ThinSemiCondensedItalic.woff");
  font-style: italic;
  font-stretch: semi-condensed;
  font-weight: 100;
}
html {
  font-family: /* Antipode */ Antipode, system-ui, /* macOS 10.11-10.12 */ -apple-system, /* Windows 6+ */ "Segoe UI", /* Android 4+ */ "Roboto", /* Ubuntu 10.10+ */ "Ubuntu", /* Gnome 3+ */ "Cantarell", /* KDE Plasma 5+ */ "Noto Sans", /* fallback */ sans-serif, /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji", /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}
code,
kbd,
samp,
pre {
  font-family: /* macOS 10.10+ */ "Menlo", /* Windows 6+ */ "Consolas", /* Android 4+ */ "Roboto Mono", /* Ubuntu 10.10+ */ "Ubuntu Monospace", /* KDE Plasma 5+ */ "Noto Mono", /* KDE Plasma 4+ */ "Oxygen Mono", /* Linux/OpenOffice fallback */ "Liberation Mono", /* fallback */ monospace, /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji", /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
}
h1,
.large {
  font-weight: 600;
  font-size: 34px;
  margin-top: 41px;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  margin-top: 34px;
}
h3 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 28px;
}
h4 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
}
h5 {
  font-weight: 700;
  font-size: 17px;
  margin-top: 22px;
}
body {
  font-weight: normal;
  font-size: 17px;
  margin-top: 22px;
}
.light {
  font-weight: normal;
  font-size: 16px;
  margin-top: 21px;
}
h6 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 20px;
}
.footnote {
  font-weight: normal;
  font-size: 13px;
  margin-top: 18px;
}
.small,
small,
caption {
  font-weight: normal;
  font-size: 12px;
  margin-top: 16px;
}
.smaller,
caption.small {
  font-weight: normal;
  font-size: 11px;
  margin-top: 13px;
}
hr {
  width: 100%;
  background: #aeaeb2;
  height: 1px;
  border: 0;
  padding: 0 !important;
  margin-bottom: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.25em;
  background-color: #fafafa;
}
body .view {
  padding: initial;
}
.views {
  width: 100%;
  height: 100%;
}
.views .collapse-bar {
  display: none;
}
.views.split-views {
  display: grid;
  overflow-x: hidden;
}
.views.split-views > .view {
  overflow: auto;
  box-sizing: border-box;
  border-left: 1px solid #e5e5ea;
}
.views.split-views > .view:last-child {
  background-color: #f2f2f7;
}
.views.split-views.split-1-3 {
  grid-template-columns: 33.3% 66.7%;
}
.views.split-views.split-2-3 {
  grid-template-columns: 66.7% 33.3%;
}
.views.split-views.split-1-2 {
  grid-template-columns: 50% 50%;
}
.views.split-views.split-small-large {
  grid-template-columns: 250px auto;
}
.views.split-views.split-large-small {
  grid-template-columns: auto 250px;
}
.view {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}
.view > * {
  padding: 3px 1em;
}
@media screen and (max-width: 600px) {
  .views.split-views {
    display: flex;
    flex-direction: column;
  }
  .views.split-views .view .collapse-bar {
    display: block;
  }
  .views.split-views > *:first-child {
    display: none;
  }
}
::selection {
  background-color: #d1d1d1;
}
.nav-bar {
  border-bottom: 1px solid #e5e5ea;
  backdrop-filter: saturate(180%) blur(20px);
  position: sticky;
  top: 0;
  background-color: rgba(242,242,247,0.7);
}
.nav-bar.transparent {
  backdrop-filter: none;
  background-color: transparent;
  border-bottom: transparent;
}
.nav-bar .lead-title {
  transition: 0.3s;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 32px;
  display: none;
}
.nav-bar .float-bar {
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.nav-bar .title {
  transition: 0.3s;
  flex: 10;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  transition: 0.3s;
}
.nav-bar a {
  flex: 1;
}
.nav-bar a:first-child {
  text-align: left;
}
.nav-bar a:last-child {
  text-align: right;
}
.nav-bar a.back {
  position: relative;
}
.nav-bar a.back:before {
  content: 'H';
  position: absolute;
  left: -22px;
  top: -5px;
  background-image: url("/img/chevron_right.svg");
  width: 20px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  transition: 0.12s;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: url("/img/chevron_right.svg");
  background: #000;
  mask-image: url("/img/chevron_right.svg");
  -webkit-mask-image: url("/img/chevron_right.svg");
  background-color: #1c87ff;
}
.view.lead .lead-title {
  display: block;
  width: initial;
  height: initial;
  text-align: inherit;
}
.view.lead .title {
  opacity: 0;
  visibility: hidden;
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  transition: 0.3s;
  flex: 10;
  margin: 0;
  padding: 28px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.3s;
}
.search-bar {
  width: 100%;
}
.search-bar input {
  border: 0;
  width: 100%;
  padding: 0.5em;
  background-color: #e5e5ea;
  outline: none;
  border-radius: 5px;
  font-size: 0.9em;
}
.tab-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  text-align: center;
  border-top: 1px solid rgba(51,51,51,0.2);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.tab-bar img {
  width: 24px;
  display: block;
  padding: 0;
  margin: auto;
}
.tab-bar > .tab {
  font-size: 12px;
  flex: 1;
  text-align: center;
}
.tab-bar > .tab.active {
  color: #1c87ff;
}
.tab-bar.inline {
  border-top: unset;
  position: initial;
}
.tool-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  text-align: center;
  border-top: 1px solid rgba(51,51,51,0.2);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.tool-bar img {
  width: 24px;
  display: block;
  padding: 0;
  margin: auto;
  color: #1c87ff;
  fill: #1c87ff;
}
.tool-bar > .tool {
  color: #1c87ff;
  font-size: 12px;
  flex: 1;
  text-align: center;
}
.tool-bar > .tool.disabled {
  color: #8e8e93;
}
.tool-bar.inline {
  border-top: unset;
  position: auto;
}
a {
  margin: 0;
  font-size: inherit;
  text-decoration: none;
  color: #1c87ff !important;
}
a:active {
  background-color: #e5e5ea;
}
button {
  text-align: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  font-weight: inherit;
  padding: 0;
}
button > a {
  padding: 10px 3px;
}
button > a:active {
  background-color: initial;
}
button.block {
  display: flex;
  width: 100%;
}
button.block > a {
  padding: 10px 0;
  width: inherit;
}
button,
a {
  cursor: pointer;
}
input[type=range],
input[type=range]+.thumb {
  cursor: pointer;
  height: 40px;
}
input[type=range] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
}
input[type=range] {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: #1c87ff;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  -webkit-appearance: none;
  background-color: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin: -10px 0 0 0;
  box-shadow: 0px 2px 3px 2px #d1d1d6;
}
input[type=range] {
  border: 1px solid transparent;
}
input[type=range]::-moz-range-track {
  height: 2px;
  background: #fff;
  border: none;
}
input[type=range]::-moz-focus-inner {
  border: 0;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin-top: -10px;
}
input[type=range]:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}
input[type=range]::-ms-track {
  height: 2px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #1c87ff;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #fff;
  margin-top: 1px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.keyboard-focused input[type=range]:focus:not(.active)::-ms-thumb {
  box-shadow: 0 0 0 10px rgba(38,166,154,0.26);
}
.segmentedcontrol {
  display: flex;
  text-align: center;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  padding: 5px 0;
}
.segmentedcontrol > .control {
  transition: 0.3s;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  text-align: center;
  border-top: unset;
  position: initial;
  cursor: pointer;
}
.segmentedcontrol > .control.active {
  color: #000;
  background: #fff;
  box-shadow: 0px 1px 2px #c7c7cc;
}
.stepper {
  display: flex;
  border: 1px solid #1c87ff;
  border-radius: 3px;
}
.stepper .minus,
.stepper .plus {
  width: 1em;
  height: 1em;
}
.stepper .minus {
  -webkit-mask-size: cover;
  mask-size: cover;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwaC0yMjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN2gyMjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+");
  background: #000;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwaC0yMjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN2gyMjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+");
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwaC0yMjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN2gyMjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+");
  background-color: #1c87ff;
}
.stepper .plus {
  -webkit-mask-size: cover;
  mask-size: cover;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwSDI3MnYtOTYuNWMwLTguOC03LjItMTYtMTYtMTZzLTE2IDcuMi0xNiAxNlYyNDBoLTk2LjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN0gyNDB2OTYuNWMwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuNyA4LjggMCAxNi03LjIgMTYtMTZWMjcyaDk2LjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+");
  background: #000;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwSDI3MnYtOTYuNWMwLTguOC03LjItMTYtMTYtMTZzLTE2IDcuMi0xNiAxNlYyNDBoLTk2LjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN0gyNDB2OTYuNWMwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuNyA4LjggMCAxNi03LjIgMTYtMTZWMjcyaDk2LjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+");
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwSDI3MnYtOTYuNWMwLTguOC03LjItMTYtMTYtMTZzLTE2IDcuMi0xNiAxNlYyNDBoLTk2LjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN0gyNDB2OTYuNWMwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuNyA4LjggMCAxNi03LjIgMTYtMTZWMjcyaDk2LjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+");
  background-color: #1c87ff;
}
input[type="checkbox"] {
  margin: 0;
  background: #e5e5ea;
  outline: 0;
  transition: 0.3s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  width: 36px;
  height: 24px;
  border-radius: 24px;
  padding: 1px;
  position: relative;
  box-shadow: inset 0 0 3px 0 #c7c7cc;
}
input[type="checkbox"]::before {
  left: 1;
  transition: 0.3s;
  cursor: pointer;
  content: 'A';
  color: transparent;
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 1px 4px 0px #aeaeb2;
}
input[type="checkbox"]:checked {
  background-color: #1c87ff;
}
input[type="checkbox"]:checked::before {
  transform: translateX(12px);
}
input[type="text"] {
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #d1d1d6;
  font-size: 1em;
  color: #333;
  height: 44px;
  font-size: 17px;
  padding: 0 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  line-height: 1.29412;
  letter-spacing: -0.021em;
  outline: none;
  background-color: transparent;
}
input[type="text"].icon {
  padding: 0 17px 0 42px;
  background-size: 32px;
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
.alert {
  padding: 0;
  z-index: 100;
  position: absolute;
  display: none;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 60%;
  min-width: 200px;
  max-width: 400px;
  background-color: #fff;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #aeaeb2;
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: saturate(180%) blur(10px);
}
.alert > * {
  padding: 10px 30px;
}
.alert > .title {
  margin: 5px 0 0 0;
}
.alert > p {
  margin: 0 0 5px 0;
  padding-top: 0;
}
.alert .links {
  padding: 0;
}
.alert .links > a {
  padding: 10px 30px;
  display: block;
  border-top: 1px solid #aeaeb2;
}
.alert .links > a:active:last-child {
  border-radius: 0 0 10px 10px;
}
.alert.mini .links {
  border-top: 1px solid #aeaeb2;
  display: flex;
}
.alert.mini .links > a {
  flex: 1;
  border: 0;
  border-left: 1px solid #aeaeb2;
}
.alert.mini .links > a:last-child:active {
  border-radius: 0 0 10px 0;
}
.alert.mini .links > a:first-child:active {
  border-radius: 0 0 0 10px;
}
.alert.mini .links > a:first-child {
  border-left: 0;
}
.alert.active {
  display: flex;
}
.alert-shadow {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: auto;
  height: auto;
  background-color: rgba(0,0,0,0.2);
}
.alert-shadow.active {
  display: block;
}
.view {
  transition: 0.3s;
}
body {
  transition: 0.3s;
}
.modal {
  transition: 0.3s;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30px;
  border-radius: 10px 10px 0 0;
  border: 0;
  display: none;
  padding: 10px;
}
.modal.active {
  display: flex;
}
.modal-bg {
  transition: 0.3s;
  border-radius: 10px;
  position: relative;
  left: 0;
  right: 0;
  top: 10px;
  transform: scale(0.95);
  background-color: #c7c7cc;
}
div.table {
  width: 100%;
  padding: 0;
}
div.table.navigable > .body > div {
  cursor: pointer;
}
div.table.navigable > .body > div:hover {
  background-color: rgba(242,242,247,0.5);
}
div.table.navigable > .body > div:active {
  background-color: #d1d1d6;
}
div.table.round .body {
  border-radius: 20px;
  border: 1px solid #e5e5ea;
}
div.table > .body > * > *:first-child {
  padding-left: 10px;
}
div.table > .header,
div.table > .footer {
  background-color: #f2f2f7;
  color: #89898e;
  font-size: smaller;
  text-align: inherit;
  margin-top: 0;
}
div.table > .header {
  padding: 25px 10px 5px 10px;
}
div.table > .footer {
  padding: 10px;
  font-size: small;
}
div.table > .body {
  border-top: 1px solid #e5e5ea;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
div.table > .body > * {
  padding: 5px;
  border-bottom: 1px solid #f2f2f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 30px;
}
div.table > .body > * > * {
  margin: auto 5px auto 0;
}
div.table > .body > * > *:last-child:not(:first-child) {
  text-align: right;
}
div.table > .body > * .faded {
  color: #8e8e93;
}
div.table > .body > * img {
  width: 24px;
  margin: auto 5px !important;
}
div.table > .body > * .next::after {
  content: 'H';
  color: transparent;
  background: url("/img/demo/right.svg");
  width: 34px;
  height: auto;
  display: inline-block;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: inherit;
  margin: auto 0;
  background-color: inherit;
}
.inset {
  background-color: #f2f2f7;
  width: auto;
  height: auto;
  max-width: 500px;
  margin: auto;
}
