
/* line 297 : C:\Sites\muzui\stylus\bars.styl */

/* line 1 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 297 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 75 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 73 : C:\Sites\muzui\stylus\bars\nav.styl */

/* line 45 : C:\Sites\muzui\stylus\bars\nav.styl */

/* line 1 : C:\Sites\muzui\stylus\vars.styl */

/* line 3 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar {
  border-bottom: 1px solid #e5e5ea;
  backdrop-filter: saturate(180%) blur(20px);
  position: sticky;
  top: 0;
  background-color: rgba(242,242,247,0.7);
}

/* line 9 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar.transparent {
  backdrop-filter: none;
  background-color: transparent;
  border-bottom: transparent;
}

/* line 13 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar .lead-title {
  transition: 0.3s;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 32px;
  display: none;
}

/* line 20 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar .float-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 30% auto 30%;
  padding: 10px 0;
}

/* line 25 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar .title {
  transition: 0.3s;
  flex: 10;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  transition: 0.3s;
}

/* line 33 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar a {
  flex: 1;
}

/* line 35 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar a:first-child {
  text-align: left;
}

/* line 37 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar a:last-child {
  text-align: right;
}

/* line 39 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar a.back {
  position: relative;
}

/* line 41 : C:\Sites\muzui\stylus\bars\nav.styl */
.nav-bar a.back:before {
  content: 'H';
  position: absolute;
  left: -22px;
  top: -5px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4NCgk8cGF0aCBkPSJNMzAuODMgMTQuODNMMjggMTIgMTYgMjRsMTIgMTIgMi44My0yLjgzTDIxLjY2IDI0eiIgZmlsbD0iIzAwNzBjOSIvPg0KPC9zdmc+");
  width: 20px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  transition: 0.12s;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4NCgk8cGF0aCBkPSJNMzAuODMgMTQuODNMMjggMTIgMTYgMjRsMTIgMTIgMi44My0yLjgzTDIxLjY2IDI0eiIgZmlsbD0iIzAwNzBjOSIvPg0KPC9zdmc+");
  background: #000;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4NCgk8cGF0aCBkPSJNMzAuODMgMTQuODNMMjggMTIgMTYgMjRsMTIgMTIgMi44My0yLjgzTDIxLjY2IDI0eiIgZmlsbD0iIzAwNzBjOSIvPg0KPC9zdmc+");
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4NCgk8cGF0aCBkPSJNMzAuODMgMTQuODNMMjggMTIgMTYgMjRsMTIgMTIgMi44My0yLjgzTDIxLjY2IDI0eiIgZmlsbD0iIzAwNzBjOSIvPg0KPC9zdmc+");
  background-color: #1c87ff;
}

/* line 56 : C:\Sites\muzui\stylus\bars\nav.styl */

/* line 57 : C:\Sites\muzui\stylus\bars\nav.styl */
.view.lead .lead-title {
  display: block;
  width: initial;
  height: initial;
  text-align: inherit;
}

/* line 62 : C:\Sites\muzui\stylus\bars\nav.styl */
.view.lead .title {
  opacity: 0;
  visibility: hidden;
}

/* line 66 : C:\Sites\muzui\stylus\bars\nav.styl */

/* line 67 : C:\Sites\muzui\stylus\bars\nav.styl */
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  transition: 0.3s;
  flex: 10;
  margin: 0;
  padding: 28px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.3s;
}

/* line 10 : C:\Sites\muzui\stylus\vars.styl */

/* line 1 : C:\Sites\muzui\stylus\bars\search.styl */

/* line 1 : C:\Sites\muzui\stylus\bars\search.styl */
.search-bar {
  width: 100%;
}

/* line 3 : C:\Sites\muzui\stylus\bars\search.styl */
.search-bar input {
  border: 0;
  width: 100%;
  padding: 0.5em;
  background-color: #e5e5ea;
  outline: none;
  border-radius: 5px;
  font-size: 0.9em;
}

/* line 25 : C:\Sites\muzui\stylus\bars\search.styl */

/* line 1 : C:\Sites\muzui\stylus\bars\tab.styl */

/* line 1 : C:\Sites\muzui\stylus\bars\tab.styl */
.tab-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  text-align: center;
  border-top: 1px solid rgba(51,51,51,0.2);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* line 12 : C:\Sites\muzui\stylus\bars\tab.styl */
.tab-bar img {
  width: 24px;
  display: block;
  padding: 0;
  margin: auto;
}

/* line 17 : C:\Sites\muzui\stylus\bars\tab.styl */
.tab-bar > .tab {
  font-size: 12px;
  flex: 1;
  text-align: center;
}

/* line 18 : C:\Sites\muzui\stylus\bars\tab.styl */
.tab-bar > .tab.active {
  color: #1c87ff;
}

/* line 23 : C:\Sites\muzui\stylus\bars\tab.styl */
.tab-bar.inline {
  border-top: unset;
  position: initial;
}

/* line 28 : C:\Sites\muzui\stylus\bars\tab.styl */

/* line 1 : C:\Sites\muzui\stylus\bars\tool.styl */

/* line 1 : C:\Sites\muzui\stylus\bars\tool.styl */
.tool-bar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  text-align: center;
  border-top: 1px solid rgba(51,51,51,0.2);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* line 12 : C:\Sites\muzui\stylus\bars\tool.styl */
.tool-bar img {
  width: 24px;
  display: block;
  padding: 0;
  margin: auto;
  color: #1c87ff;
  fill: #1c87ff;
}

/* line 19 : C:\Sites\muzui\stylus\bars\tool.styl */
.tool-bar > .tool {
  color: #1c87ff;
  font-size: 12px;
  flex: 1;
  text-align: center;
}

/* line 20 : C:\Sites\muzui\stylus\bars\tool.styl */
.tool-bar > .tool.disabled {
  color: #8e8e93;
}

/* line 26 : C:\Sites\muzui\stylus\bars\tool.styl */
.tool-bar.inline {
  border-top: unset;
  position: auto;
}
