
/* line 297 : C:\Sites\muzui\stylus\controls.styl */

/* line 1 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 297 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 297 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 29 : C:\Users\Alien\AppData\Roaming\npm\node_modules\stylus\lib\functions\index.styl */

/* line 12 : C:\Sites\muzui\stylus\controls\buttons.styl */

/* line 1 : C:\Sites\muzui\stylus\controls\buttons.styl */
a {
  margin: 0;
  font-size: inherit;
  text-decoration: none;
  color: link-color !important;
}

/* line 6 : C:\Sites\muzui\stylus\controls\buttons.styl */
a:active {
  background-color: system-gray-5;
}

/* line 9 : C:\Sites\muzui\stylus\controls\buttons.styl */
button {
  text-align: inherit;
  appearance: none;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  font-weight: inherit;
  padding: 0;
}

/* line 17 : C:\Sites\muzui\stylus\controls\buttons.styl */
button > a {
  padding: 10px 3px;
}

/* line 19 : C:\Sites\muzui\stylus\controls\buttons.styl */
button > a:active {
  background-color: initial;
}

/* line 21 : C:\Sites\muzui\stylus\controls\buttons.styl */
button.block {
  display: flex;
  width: 100%;
}

/* line 22 : C:\Sites\muzui\stylus\controls\buttons.styl */
button.block > a {
  padding: 10px 0;
  width: inherit;
}

/* line 28 : C:\Sites\muzui\stylus\controls\buttons.styl */
button,
a {
  cursor: pointer;
}

/* line 104 : C:\Sites\muzui\stylus\controls\buttons.styl */

/* line 29 : C:\Sites\muzui\stylus\controls\slider.styl */

/* line 1 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range],
input[type=range]+.thumb {
  cursor: pointer;
  height: 40px;
}

/* line 6 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
}

/* line 15 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range] {
  -webkit-appearance: none;
}

/* line 18 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: link-color;
  border: none;
}

/* line 23 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  -webkit-appearance: none;
  background-color: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin: -10px 0 0 0;
  box-shadow: 0px 2px 3px 2px system-gray-4;
}

/* line 40 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range] {
  border: 1px solid transparent;
}

/* line 44 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-moz-range-track {
  height: 2px;
  background: #fff;
  border: none;
}

/* line 50 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-moz-focus-inner {
  border: 0;
}

/* line 54 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin-top: -10px;
}

/* line 67 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

/* line 73 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-ms-track {
  height: 2px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

/* line 81 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-ms-fill-lower {
  background: link-color;
}

/* line 85 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-ms-fill-upper {
  background: #ddd;
}

/* line 89 : C:\Sites\muzui\stylus\controls\slider.styl */
input[type=range]::-ms-thumb {
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #fff;
  margin-top: 1px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

/* line 102 : C:\Sites\muzui\stylus\controls\slider.styl */
.keyboard-focused input[type=range]:focus:not(.active)::-ms-thumb {
  box-shadow: 0 0 0 10px rgba(38,166,154,0.26);
}

/* line 23 : C:\Sites\muzui\stylus\controls\slider.styl */

/* line 1 : C:\Sites\muzui\stylus\controls\segmentedcontrols.styl */

/* line 1 : C:\Sites\muzui\stylus\controls\segmentedcontrols.styl */
.segmentedcontrol {
  display: flex;
  text-align: center;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  padding: 5px;
}

/* line 9 : C:\Sites\muzui\stylus\controls\segmentedcontrols.styl */
.segmentedcontrol > .control {
  transition: 0.3s;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  text-align: center;
  border-top: unset;
  position: initial;
  cursor: pointer;
}

/* line 11 : C:\Sites\muzui\stylus\controls\segmentedcontrols.styl */
.segmentedcontrol > .control.active {
  color: #000;
  background: #fff;
  box-shadow: 0px 1px 2px system-gray-3;
}

/* line 13 : C:\Sites\muzui\stylus\controls\segmentedcontrols.styl */

/* line 1 : C:\Sites\muzui\stylus\controls\steppers.styl */

/* line 1 : C:\Sites\muzui\stylus\controls\steppers.styl */
.stepper {
  display: flex;
  border: 1px solid link-color;
  border-radius: 3px;
}

/* line 5 : C:\Sites\muzui\stylus\controls\steppers.styl */
.stepper .minus,
.stepper .plus {
  width: 1em;
  height: 1em;
}

/* line 8 : C:\Sites\muzui\stylus\controls\steppers.styl */
.stepper .minus {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwaC0yMjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN2gyMjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+");
  background-color: link-color;
}

/* line 11 : C:\Sites\muzui\stylus\controls\steppers.styl */
.stepper .plus {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwSDI3MnYtOTYuNWMwLTguOC03LjItMTYtMTYtMTZzLTE2IDcuMi0xNiAxNlYyNDBoLTk2LjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN0gyNDB2OTYuNWMwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuNyA4LjggMCAxNi03LjIgMTYtMTZWMjcyaDk2LjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+");
  background-color: link-color;
}

/* line 28 : C:\Sites\muzui\stylus\controls\steppers.styl */

/* line 13 : C:\Sites\muzui\stylus\controls\switches.styl */

/* line 1 : C:\Sites\muzui\stylus\controls\switches.styl */
input[type="checkbox"] {
  margin: 0;
  background: system-gray-5;
  outline: 0;
  transition: 0.3s;
  appearance: none;
  width: 36px;
  height: 24px;
  border-radius: 24px;
  padding: 1px;
  position: relative;
  box-shadow: inset 0 0 3px 0 system-gray-3;
}

/* line 13 : C:\Sites\muzui\stylus\controls\switches.styl */
input[type="checkbox"]::before {
  left: 1;
  transition: 0.3s;
  cursor: pointer;
  content: 'A';
  color: transparent;
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 1px 4px 0px system-gray-2;
}

/* line 25 : C:\Sites\muzui\stylus\controls\switches.styl */
input[type="checkbox"]:checked {
  background-color: link-color;
}

/* line 27 : C:\Sites\muzui\stylus\controls\switches.styl */
input[type="checkbox"]:checked::before {
  transform: translateX(12px);
}

/* line 23 : C:\Sites\muzui\stylus\controls\switches.styl */

/* line 28 : C:\Sites\muzui\stylus\controls\text-fields.styl */

/* line 1 : C:\Sites\muzui\stylus\controls\text-fields.styl */
input[type="text"] {
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid system-gray-4;
  font-size: 1em;
  color: #333;
  height: 44px;
  font-size: 17px;
  padding: 0 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  line-height: 1.29412;
  letter-spacing: -0.021em;
  outline: none;
  background-color: transparent;
}

/* line 19 : C:\Sites\muzui\stylus\controls\text-fields.styl */
input[type="text"].icon {
  padding: 0 17px 0 42px;
  background-size: 32px;
  background-position: 6px 5px;
  background-repeat: no-repeat;
}
