@font-face {
  font-family: "Philippa";
  src: url('/data/fonts/Philippa-Bold.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  700;
}
@font-face {
  font-family: "Philippa";
  src: url('/data/fonts/Philippa-ExtraBold.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  800;
}
@font-face {
  font-family: "Philippa";
  src: url('/data/fonts/Philippa-ExtraLight.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  200;
}
@font-face {
  font-family: "Philippa";
  src: url('/data/fonts/Philippa-Light.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  300;
}
@font-face {
  font-family: "Philippa";
  src: url('/data/fonts/Philippa-Medium.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  500;
}
@font-face {
  font-family: "Philippa";
  src: url('/data/fonts/Philippa-Regular.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  400;
}
@font-face {
  font-family: "Philippa";
  src: url('/data/fonts/Philippa-SemiBold.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-Black.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  800;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BlackCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  800;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BlackCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  800;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BlackExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  800;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BlackExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  800;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BlackItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  800;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BlackSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  800;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BlackSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  800;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-Bold.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  700;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BoldCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  700;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BoldCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  700;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BoldExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  700;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BoldExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  700;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BoldItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  700;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BoldSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  700;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-BoldSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  700;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraBold.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  900;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraBoldCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  900;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraBoldCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  900;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraBoldExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  900;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraBoldExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  900;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraBoldItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  900;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraBoldSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  900;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraBoldSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  900;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraLight.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  200;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraLightCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  200;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraLightCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  200;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraLightExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  200;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraLightExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  200;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraLightItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  200;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraLightSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  200;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ExtraLightSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  200;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-Light.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  300;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-LightCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  300;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-LightCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  300;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-LightExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  300;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-LightExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  300;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-LightItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  300;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-LightSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  300;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-LightSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  300;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-Medium.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  500;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-MediumCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  500;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-MediumCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  500;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-MediumExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  500;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-MediumExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  500;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-MediumItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  500;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-MediumSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  500;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-MediumSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  500;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-Regular.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  400;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-RegularCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  400;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-RegularCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  400;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-RegularExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  400;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-RegularExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  400;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-RegularItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  400;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-RegularSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  400;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-RegularSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  400;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-SemiBold.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-SemiBoldCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-SemiBoldCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-SemiBoldExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-SemiBoldExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-SemiBoldItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-SemiBoldSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-SemiBoldSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  600;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-Thin.woff');
  font-style: normal;
  font-stretch: normal;
  font-weight:  100;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ThinCondensed.woff');
  font-style: normal;
  font-stretch:  condensed;
  font-weight:  100;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ThinCondensedItalic.woff');
  font-style: italic;
  font-stretch:  condensed;
  font-weight:  100;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ThinExpanded.woff');
  font-style: normal;
  font-stretch:  expanded;
  font-weight:  100;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ThinExpandedItalic.woff');
  font-style: italic;
  font-stretch:  expanded;
  font-weight:  100;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ThinItalic.woff');
  font-style: italic;
  font-stretch: normal;
  font-weight:  100;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ThinSemiCondensed.woff');
  font-style: normal;
  font-stretch:  semi-condensed;
  font-weight:  100;
}
@font-face {
  font-family: "Antipode";
  src: url('/data/fonts/Antipode-ThinSemiCondensedItalic.woff');
  font-style: italic;
  font-stretch:  semi-condensed;
  font-weight:  100;
}