html {
  font-family: Helvetica, sans-serif
}

h1, .large // Large Title
	font-weight 600
	font-size 34px
	margin-top 41px
h2 // Title 1px
	font-weight 600
	font-size 28px
	margin-top 34px
h3 // Title 2px
	font-weight 600
	font-size 22px
	margin-top 28px
h4 // Title 3px
	font-weight 600
	font-size 20px
	margin-top 25px
h5 // Headline
	font-weight 700
	font-size 17px
	margin-top 22px
body // Body
	font-weight normal
	font-size 17px
	margin-top 22px
.light // Callout
	font-weight normal
	font-size 16px
	margin-top 21px
h6 // Subhead
	font-weight normal
	font-size 15px
	margin-top 20px
.footnote // Footnote
	font-weight normal
	font-size 13px
	margin-top 18px
.small, small, caption // Caption 1px
	font-weight normal
	font-size 12px
	margin-top 16px
.smaller, caption.small // Caption 2px
	font-weight normal
	font-size 11px
	margin-top 13px
	
hr
	width 100%
	background system-gray-2
	height 1px
	border 0
	padding 0 !important
	margin-bottom 0