.stepper
	display flex
	text-align center
	background-color: transparent;
	border 1px solid link-color
	border-radius 10px
	padding 0
	overflow hidden
	width fit-content
	min-width 100px
	& > *
		transition .3s
		color link-color
		padding 5px
		border-radius 0
		font-size 1.5em
		font-weight 500
		flex 1
		text-align center
		border-top unset
		position initial
		cursor pointer
		border-right 1px solid link-color
		&:first-child
			content: "—"
		&:last-child
			border-right 0