.stepper
	display flex
	border 1px solid link-color
	border-radius 3px
	.minus, .plus
		width 1em
		height 1em
	.minus
		mask-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwaC0yMjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN2gyMjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+')
		background-color link-color
	.plus
		mask-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzY4LjUgMjQwSDI3MnYtOTYuNWMwLTguOC03LjItMTYtMTYtMTZzLTE2IDcuMi0xNiAxNlYyNDBoLTk2LjVjLTguOCAwLTE2IDcuMi0xNiAxNiAwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuN0gyNDB2OTYuNWMwIDQuNCAxLjggOC40IDQuNyAxMS4zIDIuOSAyLjkgNi45IDQuNyAxMS4zIDQuNyA4LjggMCAxNi03LjIgMTYtMTZWMjcyaDk2LjVjOC44IDAgMTYtNy4yIDE2LTE2cy03LjItMTYtMTYtMTZ6Ii8+PC9zdmc+')
		background-color link-color