input[type="text"]
	width 100%
	margin 0
	border 0
	border-bottom 1px solid system-gray-4
	font-size 1em
	color #333
	height 44px
	font-size 17px
	padding: 0 17px
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis
	font-size: 17px
	line-height: 1.29412
	letter-spacing: -.021em
	outline none
	background-color transparent
	&.icon
		padding: 0 17px 0 42px
		background-size 32px
		background-position 6px 5px
		background-repeat no-repeat